@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<div id="panel">
    <h1>@Model.Name</h1>

        @Html.Action("Index", "ContactFormSurface") @*How you use surface controllers in templates*@
</div>