@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LoginPage>
@using Umbraco.Web.Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<div class="bodytext">
    <h3>@Model.Value("bodyText")</h3>
</div>

@Html.Partial("LoginPartial", new LoginModel())