@*@model MyFirstSurfaceControllerProject.Models.ImageGalleryFormViewModel


@if (TempData["success"] == null)

{
    IDictionary<string, object> dictionary = new Dictionary<string, object>
    {
        {
            "enctype", "multipart/form-data"
        }
    };
    using (Html.BeginUmbracoForm<MyFirstSurfaceControllerProject.Controllers.ImageGalleryController>("HandleFormSubmit", null, dictionary))
    {
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload Image" name="submit" />
        </form>
    }


}
else
{

    <p>Files have been uploaded!</p>
}*@